temp
temp.json
*.fpk
*.log
*.zip
EasyTier-Lite/app/bin/*
EasyTier-Lite/app/server
EasyTier-Lite/app/frontend


peers/.venv
server/.venv
server/*/__pycache__
server/__pycache__

# 测试文件
tests/
server/*/test_*.py
server/*/test_*.pyc
server/*/*_test.py
server/*/*_test.pyc


node_modules
frontend/logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/auto-imports.d.ts
frontend/components.d.ts

*.local
# Editor directories and files
frontend/.vscode
!.vscode/extensions.json
frontend/.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
