temp
temp.json
*.fpk
*.log
*.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.spec

# Virtual environments
.venv/
venv/
ENV/
env/

# EasyTier-Lite
EasyTier-Lite/app/bin/*
EasyTier-Lite/app/server
EasyTier-Lite/app/frontend
EasyTier-Lite/app/backend
EasyTier-Lite/app/default.toml

peers/.venv
peers/.venv
peers/__pycache__
peers/*.log
peers/bin/*
peers/DYNV6_TOKEN.txt

server/.venv
server/*/__pycache__
server/__pycache__
server/build
server/dist
server/*.spec

frontend/logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/auto-imports.d.ts
frontend/components.d.ts

backend/.venv
backend/*.log
backend/__pycache__
backend/*/__pycache__
backend/build
backend/dist

__IDp
/
 iora 
*.ewp
*sawn
*~
 files
# OSde
!.vscode/extensions.json
Thnmbn.lb

*.sw?
*.idea
__pycache__